# Atari 2600 (Stella) support for multiple assemblers
# - DASM
# - CC65

# Assembled binaries and object directories
obj/
a.out
*.bin
*.a26

# Add in special Atari 7800-based binaries for good measure
*.a78
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
